li {
	font-size: 19px ;
	list-style-type: circle; 
	text-transform: uppercase;
	}
.sleep{
	color: red;
	text-decoration: underline;
}
body{
	background-color: #2C3A47 ;

}
ul{
	background-color: #f7f1e3 ;
	width: 500px ;
	margin: 50px auto ;
	border-radius: 12px ;
}
.finish{
	color: #84817a ;
	text-decoration: line-through;
	font-size: 16px ;
}